<h2>Friend</h2>
<h3>My Friend List</h3>
<table border="1">
  <tr>
    <th>F-N</th>
    <th>L-N</th>
    <th>N-N</th>
    <th>Github Pages</th>
  </tr>
  <tr>
    <td>autakorn</td>
    <td>basintu</td>
    <td>kam</td>
    <td>
      <a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-Lotte700">
        lab1</a>
     <a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-Lotte700">
        lab2</a>
      <a href="https://github.com/camt-mmit/2024-01-954447-001-lab03-basic-typescript-Lotte700">
        lab3</a>
    </td>
  </tr>
  <tr>
    <td>autakorn</td>
    <td>basintu</td>
    <td>kam</td>
    <td>
      <a target="_blank"
      href="https://github.com/camt-mmit/2024-01-954447-001-basic-javascript-Lotte700">
        lab1</a>
     <a target="_blank"
     href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-Lotte700">
        lab2</a>
      <a target="_blank"
      href="https://github.com/camt-mmit/2024-01-954447-001-lab03-basic-typescript-Lotte700">
        lab3</a>
    </td>
  </tr>
</table>
