<h2>Status</h2>

<table>
  <tr>
    <th>Current Time</th>
    <td><b>::</b></td>
    <td>2024-12-16 12:30 PM</td>
  </tr>
  <tr>
    <th>User Agent</th>
    <td><b>::</b></td>
    <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36</td>
  </tr>
  <tr>
    <th>Languages</th>
    <td><b>::</b></td>
    <td>English, Thai, Spanish</td>
  </tr>
  <tr>
    <th>Is Cookie England?</th>
    <td><b>::</b></td>
    <td>No</td>
  </tr>
  <tr>
    <th>Logical Processors</th>
    <td><b>::</b></td>
    <td>8</td>
  </tr>
  <tr>
    <th>Max Touch Points</th>
    <td><b>::</b></td>
    <td>10</td>
  </tr>
</table>
