<h2>Status</h2>

<table>
  <tr>
    <th>Current Time</th>
    <td><b>::</b></td>
    <td>
      {{date}}
    </td>
  </tr>
  <tr>
    <th>User Agent</th>
    <td><b>::</b></td>
    <td>{{us}}
      </td>
  </tr>
  <tr>
    <th>Languages</th>
    <td><b>::</b></td>
    <td>
      {{lang}}
    </td>
  </tr>
  <tr>
    <th>Is Cookie England?</th>
    <td><b>::</b></td>
    <td>
      {{cok}}
    </td>
  </tr>
  <tr>
    <th>Logical Processors</th>
    <td><b>::</b></td>
    <td>
{{logi}}
    </td>
  </tr>
  <tr>
    <th>Max Touch Points</th>
    <td><b>::</b></td>
    <td>{{max}}
      </td>
  </tr>
</table>
