a {
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 4px;
  margin:1.5px
  }
  a.st-active {
  background-color: silver;
  }

:host{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}

