<h2 class="title">
  My Profile</h2>

<h2 >
  Basic Information
</h2>
<ul>
  <li>
    <b>Name: </b>Kitipat Panchang
  </li>
  <li>
    <b>Gender: </b>Female
  </li>
  <li>
    <b>Age: </b>21
  </li>
</ul>
<h2>Autobiography</h2>
<pre>
  Stephen Wli>hire was born on Aprli>4, 1974,
   in London, England. His West Indian father died in an
   accident when he was just 3 years old. He was soon
   diagnosed with autism, which affected his communication
   and interaction skli> with others. However, his mother
   and teachers noticed his talent for drawing at an early age
   . Stephen began drawing animals and cars,
   and when he was 7 years old, his work first caught
   the attention of the British press, especially his painting of Salisbury
   Cathedral for the then British Prime Minister, which marked the beginning
   of his great artistic career.
</pre>
<h2>
  GitHub Pages
</h2>
<a target="_blank"
href="https://github.com/camt-mmit/2024-01-954447-001-basic-javascript-Lotte700">
  lab1</a>
<a target="_blank"
href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-Lotte700">
  lab2</a>
<a target="_blank"
 href="https://github.com/camt-mmit/2024-01-954447-001-lab03-basic-typescript-Lotte700">
  lab3</a>
